body{
    background-color:forestgreen;
}
.header{
    display: flex;
    justify-content: center;
}
ul li{
    display: inline-block;
    font-size: 43px;
}
 ul li a{
     color: white;
     padding: 10px 20px 20px 10px;
     text-decoration: underline;
 }
  ul li a{
     color: white;
     padding: 10px 20px 20px 10px;
     text-decoration: underline;
 }
 h1 { 
     text-align: center 
     
 } 
 
 #centerImages{
     display: flex;
     justify-content: center;
 }
 
  #imagesContainer{
      width: 100%;
    background-color:lightslategrey;
    display: flex;
    justify-content:row;
    flex-wrap: wrap;
}

img {
    height: 250px;
    width: 400px
}