body{
    background-color: cadetblue;
}
p {
  color: black;
  font-family: Helvetica;
}

h1{
    text-align: center;
    font-size: 40px;
}
#imagesContainer{
    background-color:navy;
}
p {
    font-family: 'Droid Sans', sans-serif;
}

img {
    height: 250px;
    width: 400px
} 
.header{
    display: flex;
    justify-content: center;
}
ul li{
    display: inline-block;
    font-size: 43px;
}
 ul li a{
     color: white;
     padding: 10px 20px 20px 10px;
     text-decoration: underline;
 }

